[project]
	description = Cairo based GPU Acceleration of WebKit
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/xingri
[access "refs/for/refs/*"]
	read = group user/xingri
	push = group user/xingri
	label-Code-Review = -2..+2 group user/xingri
	label-Verified = -1..+1 group user/xingri
	rebase = group user/xingri
	removeReviewer = group user/xingri
	submit = group user/xingri
[access "refs/heads/*"]
	read = group user/xingri
	create = group user/xingri
	push = +force group user/xingri
	pushMerge = group user/xingri
[access "refs/tags/*"]
	push = +force group user/xingri
	pushTag = group user/xingri
	pushSignedTag = group user/xingri
